# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Hasaki,JP,35.7333,140.8333,76.21,65,3,10.29,clear sky,2022-10-16 04:17:14
1,1,Teguise,ES,29.0605,-13.5640,66.42,73,100,11.50,light rain,2022-10-16 04:17:14
2,2,Busselton,AU,-33.6500,115.3333,61.16,47,51,9.73,broken clouds,2022-10-16 04:17:15
3,3,Kenora,CA,49.8167,-94.4337,36.57,100,100,10.36,overcast clouds,2022-10-16 04:15:47
4,4,Kapaa,US,22.0752,-159.3190,82.38,78,100,13.80,overcast clouds,2022-10-16 04:17:16
5,5,Punta Arenas,CL,-53.1500,-70.9167,41.11,70,0,16.11,clear sky,2022-10-16 04:12:19
6,6,Taseyevo,RU,57.2169,94.8978,38.44,58,73,7.45,broken clouds,2022-10-16 04:17:17
7,7,Provideniya,RU,64.3833,-173.3000,27.63,80,100,14.88,overcast clouds,2022-10-16 04:12:20
8,8,Nadym,RU,65.5333,72.5167,37.22,88,100,4.65,light rain,2022-10-16 04:17:18
9,9,Rancho Mirage,US,33.7397,-116.4128,70.41,79,0,4.61,clear sky,2022-10-16 04:17:11

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip?"))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Hasaki,JP,35.7333,140.8333,76.21,65,3,10.29,clear sky,2022-10-16 04:17:14
4,4,Kapaa,US,22.0752,-159.3190,82.38,78,100,13.80,overcast clouds,2022-10-16 04:17:16
13,13,Bull Savanna,JM,17.8868,-77.5902,76.59,79,99,4.92,overcast clouds,2022-10-16 04:17:20
20,20,Butaritari,KI,3.0707,172.7902,81.54,72,1,17.45,clear sky,2022-10-16 04:17:23
21,21,Puerto Escondido,MX,15.8500,-97.0667,80.06,84,92,3.89,light rain,2022-10-16 04:17:23
23,23,Port Blair,IN,11.6667,92.7500,84.24,79,75,8.05,broken clouds,2022-10-16 04:17:24
27,27,Armeria,MX,18.9333,-103.9667,78.17,91,65,2.04,broken clouds,2022-10-16 04:17:26
28,28,San Patricio,US,28.0170,-97.5169,82.26,72,3,10.22,clear sky,2022-10-16 04:17:26
43,43,Marsh Harbour,BS,26.5412,-77.0636,80.73,71,16,19.33,few clouds,2022-10-16 04:17:33
49,49,Avarua,CK,-21.2078,-159.7750,77.05,73,5,8.05,clear sky,2022-10-16 04:18:36

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

clean_travel_cities_df = pd.DataFrame(clean_travel_cities)

# Display sample data
clean_travel_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Hasaki,JP,35.7333,140.8333,76.21,65,3,10.29,clear sky,2022-10-16 04:17:14
4,4,Kapaa,US,22.0752,-159.3190,82.38,78,100,13.80,overcast clouds,2022-10-16 04:17:16
13,13,Bull Savanna,JM,17.8868,-77.5902,76.59,79,99,4.92,overcast clouds,2022-10-16 04:17:20
20,20,Butaritari,KI,3.0707,172.7902,81.54,72,1,17.45,clear sky,2022-10-16 04:17:23
21,21,Puerto Escondido,MX,15.8500,-97.0667,80.06,84,92,3.89,light rain,2022-10-16 04:17:23
23,23,Port Blair,IN,11.6667,92.7500,84.24,79,75,8.05,broken clouds,2022-10-16 04:17:24
27,27,Armeria,MX,18.9333,-103.9667,78.17,91,65,2.04,broken clouds,2022-10-16 04:17:26
28,28,San Patricio,US,28.0170,-97.5169,82.26,72,3,10.22,clear sky,2022-10-16 04:17:26
43,43,Marsh Harbour,BS,26.5412,-77.0636,80.73,71,16,19.33,few clouds,2022-10-16 04:17:33
49,49,Avarua,CK,-21.2078,-159.7750,77.05,73,5,8.05,clear sky,2022-10-16 04:18:36

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

                City Country  Max Temp Current Description      Lat       Lng
0             Hasaki      JP     76.21           clear sky  35.7333  140.8333
4              Kapaa      US     82.38     overcast clouds  22.0752 -159.3190
13      Bull Savanna      JM     76.59     overcast clouds  17.8868  -77.5902
20        Butaritari      KI     81.54           clear sky   3.0707  172.7902
21  Puerto Escondido      MX     80.06          light rain  15.8500  -97.0667
23        Port Blair      IN     84.24       broken clouds  11.6667   92.7500
27           Armeria      MX     78.17       broken clouds  18.9333 -103.9667
28      San Patricio      US     82.26           clear sky  28.0170  -97.5169
43     Marsh Harbour      BS     80.73          few clouds  26.5412  -77.0636
49            Avarua      CK     77.05           clear sky -21.2078 -159.7750

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hasaki,JP,76.21,clear sky,35.7333,140.8333,
4,Kapaa,US,82.38,overcast clouds,22.0752,-159.3190,
13,Bull Savanna,JM,76.59,overcast clouds,17.8868,-77.5902,
20,Butaritari,KI,81.54,clear sky,3.0707,172.7902,
21,Puerto Escondido,MX,80.06,light rain,15.8500,-97.0667,
23,Port Blair,IN,84.24,broken clouds,11.6667,92.7500,
27,Armeria,MX,78.17,broken clouds,18.9333,-103.9667,
28,San Patricio,US,82.26,clear sky,28.0170,-97.5169,
43,Marsh Harbour,BS,80.73,few clouds,26.5412,-77.0636,
49,Avarua,CK,77.05,clear sky,-21.2078,-159.7750,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [9]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hasaki,JP,76.21,clear sky,35.7333,140.8333,Inubosaki Kanko Hotel
4,Kapaa,US,82.38,overcast clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
13,Bull Savanna,JM,76.59,overcast clouds,17.8868,-77.5902,Big Red's
20,Butaritari,KI,81.54,clear sky,3.0707,172.7902,Isles Sunset Lodge
21,Puerto Escondido,MX,80.06,light rain,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
23,Port Blair,IN,84.24,broken clouds,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
27,Armeria,MX,78.17,broken clouds,18.9333,-103.9667,Hotel la Herradura
28,San Patricio,US,82.26,clear sky,28.0170,-97.5169,"Motel 6 Sinton, TX"
43,Marsh Harbour,BS,80.73,few clouds,26.5412,-77.0636,Abaco Beach Resort
49,Avarua,CK,77.05,clear sky,-21.2078,-159.7750,Paradise Inn

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [11]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hasaki,JP,76.21,clear sky,35.7333,140.8333,Inubosaki Kanko Hotel
4,Kapaa,US,82.38,overcast clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
13,Bull Savanna,JM,76.59,overcast clouds,17.8868,-77.5902,Big Red's
20,Butaritari,KI,81.54,clear sky,3.0707,172.7902,Isles Sunset Lodge
21,Puerto Escondido,MX,80.06,light rain,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
23,Port Blair,IN,84.24,broken clouds,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
27,Armeria,MX,78.17,broken clouds,18.9333,-103.9667,Hotel la Herradura
28,San Patricio,US,82.26,clear sky,28.0170,-97.5169,"Motel 6 Sinton, TX"
43,Marsh Harbour,BS,80.73,few clouds,26.5412,-77.0636,Abaco Beach Resort
49,Avarua,CK,77.05,clear sky,-21.2078,-159.7750,Paradise Inn

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [13]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [14]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [15]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Inubosaki Kanko Hotel</dd>\n<dt>City</dt><dd>Hasaki</dd>\n<dt>Country</dt><dd>JP</dd>\n<dt>Current Weather</dt><dd>clear sky and 76.21 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 82.38 °F</dd>\n</dl>\n',
 "\n<dl>\n<dt>Hotel Name</dt><dd>Big Red's</dd>\n<dt>City</dt><dd>Bull Savanna</dd>\n<dt>Country</dt><dd>JM</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 76.59 °F</dd>\n</dl>\n",
 '\n<dl>\n<dt>Hotel Name</dt><dd>Isles Sunset Lodge</dd>\n<dt>City</dt><dd>Butaritari</dd>\n<dt>Country</dt><dd>KI</dd>\n<dt>Current Weather</dt><dd>clear sky and 81.54 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Aldea del Bazar Hotel and Spa</dd>\n<dt>City</dt><dd>Puerto Escondido</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Current Weather</dt><dd>light rain and 80.06 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Welcomhotel By ITC Hotels, Bay Island, Port Blair</dd>\n<dt>City</dt><dd>Port Blair</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>broken clouds and 84.24 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel la Herradura</dd>\n<dt>City</dt><dd>Armeria</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Current Weather</dt><dd>broken clouds and 78.17 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Motel 6 Sinton, TX</dd>\n<dt>City</dt><dd>San Patricio</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 82.26 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Abaco Beach Resort</dd>\n<dt>City</dt><dd>Marsh Harbour</dd>\n<dt>Country</dt><dd>BS</dd>\n<dt>Current Weather</dt><dd>few clouds and 80.73 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Paradise Inn</dd>\n<dt>City</dt><dd>Avarua</dd>\n<dt>Country</dt><dd>CK</dd>\n<dt>Current Weather</dt><dd>clear sky and 77.05 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [16]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0   35.7333  140.8333
4   22.0752 -159.3190
13  17.8868  -77.5902
20   3.0707  172.7902
21  15.8500  -97.0667
23  11.6667   92.7500
27  18.9333 -103.9667
28  28.0170  -97.5169
43  26.5412  -77.0636
49 -21.2078 -159.7750

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [18]:
# Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
current_weather = clean_hotel_df["Current Description"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Create a figure to add the Google map as a layer
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))